/**********************************
CSS RESET
**********************************/
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*********END RESET*/
body{
  background-color: #fff;
}

#wrapper{
  width: 60em;
  margin: auto;
  padding: 5em;

}

#border{
  width: 40em;
  margin: auto;
  padding: 5em;
  border: solid 3px #47a3da;
}

.fa-th{
  color: #c0c0c0;
  size: 100px;

}

.fa-th-list{
  color: #47a3da;
  size: 100px;

}

#label-container{
  padding-left: 35em;
  padding-bottom: 10px;
  border-bottom: solid #47a3da 3px;
}

h3{
  font-family: lato;
  color: #47a3da;
  font-weight: 300px;
  padding-bottom: 7px;
}

h4{
  color: #c0c0c0;
  font-family: lato;
  font-weight: 300px;
}

.pcontainer{
  padding-top: 20px;
  max-width:60%;
  padding-left: 200px;
}

p{
  padding-bottom: 15px;
  padding-top: 7px;
  font-family: lato;
  color:  #47a3da;
  letter-spacing: 1.4px;
  font-weight: 100px;

}

.product{
  padding-top: 10px;
  position: fixed;
  color: #c0c0c0;
  border: none;
  font-size: 100px;
  background-color: #fff;
  width: 10%;
}

.product:hover{

}


.add{
  background-color: #47a3da;
  color: #fff;
  padding: 10px;
  border: none;
  font-family: lato;
}

.add:hover{
  border: none;
}
